[Unit]
Description=ZFS Snapshot Daemon

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/share/zsnapd/zsnapd --systemd
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
